{% extends 'base/main.html' %}

{% block title %}Digit Recognition{% endblock %}

{% block head %}

<script>
    async function uploadImage(event) {
        event.preventDefault();
        const formData = new FormData(document.querySelector('form'));

        const response = await fetch("{% url 'predict' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        });

        const data = await response.json();
        const resultContainer = document.getElementById('result');
        resultContainer.innerHTML = '';

        if (data.sorted_predictions) {
            const list = document.createElement('ul');
            data.sorted_predictions.forEach(([label, probability]) => {
                const listItem = document.createElement('li');
                listItem.textContent = `${label}: ${(probability * 100).toFixed(10)}%`;
                list.appendChild(listItem);
            });
            resultContainer.appendChild(list);
        } else {
            resultContainer.textContent = 'Error in prediction.';
        }
    }
</script>

{% endblock %}

{% block content %}
    <h1>Upload an Image for Digit Recognition</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="uploadImage(event)">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
    <div id="result"></div>
{% endblock %}
