<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="zeronineSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'redirect_to_en' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-robot"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Zeronine <sup>09</sup></div>
    </a>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Choose Handwritten:
    </div>

    <li class="nav-item {% if request.resolver_match.url_name == 'ZeronineEN' or request.resolver_match.url_name == 'ZeronineAR' %}active{% endif %}">
        <a class="nav-link {% if request.resolver_match.url_name != 'ZeronineEN' and request.resolver_match.url_name != 'ZeronineAR' %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#ZeronineDigitsApp" aria-expanded="true" aria-controls="ZeronineDigitsApp">
            <i class="fas fa-fw fa-arrow-up-1-9"></i>
            <span>Handwritten Digits</span>
        </a>
        <div id="ZeronineDigitsApp" class="collapse {% if request.resolver_match.url_name == 'ZeronineEN' or request.resolver_match.url_name == 'ZeronineAR' %}show{% endif %}" aria-labelledby="headingZeronine"
            data-parent="#zeronineSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.resolver_match.url_name == 'ZeronineEN' %}active{% endif %}" href="{% url 'ZeronineEN' %}">Hindu-Arabic</a>
                <a class="collapse-item {% if request.resolver_match.url_name == 'ZeronineAR' %}active{% endif %}" href="{% url 'ZeronineAR' %}">Eastern Arabic</a>
            </div>
        </div>
    </li>

    <li class="nav-item {% if request.resolver_match.url_name == 'ZeronineARChar' or request.resolver_match.url_name == 'ZeronineENChar' %}active{% endif %}">
        <a class="nav-link {% if request.resolver_match.url_name != 'ZeronineARChar' and request.resolver_match.url_name != 'ZeronineENChar' %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#ZeronineCharactersApp"
            aria-expanded="true" aria-controls="ZeronineCharactersApp">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Handwritten Chars</span>
        </a>
        <div id="ZeronineCharactersApp" class="collapse {% if request.resolver_match.url_name == 'ZeronineARChar' or request.resolver_match.url_name == 'ZeronineENChar' %}show{% endif %}" aria-labelledby="headingZeronine"
            data-parent="#zeronineSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.resolver_match.url_name == 'ZeronineENChar' %}active{% endif %}" href="{% url 'ZeronineENChar' %}">Hindu-Arabic</a>
                <a class="collapse-item {% if request.resolver_match.url_name == 'ZeronineARChar' %}active{% endif %}" href="{% url 'ZeronineARChar' %}">Eastern Arabic</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        FAQ
    </div>

    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-person-circle-question"></i>
            <span>About Zeronine</span>
        </a>
    </li>

    <!-- <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user-astronaut"></i>
            <span>About Me</span>
        </a>
    </li> -->

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <div class="sidebar-card d-none d-lg-flex">
        <p class="text-center mb-2"><strong>Github</strong> available source code.</p>
        <a class="btn btn-success btn-sm" href="https://github.com/ridwaanhall/zeronine" target="_blank">Go to Github!</a>
    </div>
</ul>